#sidebar>div{
    display:block;
    width: 150px;
    margin: auto;
    padding: 20px;
    
}
button{
    width: 100%;
    box-sizing: border-box;
    margin:20px;
}
#sidebar{
    width: 200px;
   background-color: white;
    top:60px;
    left: 0;
    position:fixed;
  
}